// Comando para iniciar watch de SASS debajo
// sass --watch styles/scss:styles/css

@import "partials/vars";
@import "partials/grids";
@import "partials/footer";

* {
  margin: 0;
}
@font-face {
  font-family: briemHand;
  src: url(./../../assets/fonts/Briem_Hand/BriemHand-VariableFont_wght.ttf);
}

@font-face {
  font-family: poetsenOne;
  src: url(./../../assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: ubuntuSansItalicV;
  src: url(./../../assets/fonts/Ubuntu_Sans/UbuntuSans-Italic-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: ubuntuSansItalic;
  src: url(./../../assets/fonts/Ubuntu_Sans/UbuntuSans-VariableFont_wdth\wght.ttf);
}

@mixin dimensionesImagen($ancho, $alto) {
  height: $ancho;
  width: $alto;
}

body {
  background-color: $colorFondoPagina;
}

.texto {
  background-color: $colorCajaTexto;
  padding: 10px;
  box-shadow: 0px 0px 100px $colorSombreado;
}

.logoAFN {
  height: 100%;
  aspect-ratio: 1/1;
}

.mainTitle {
  padding-left: 1vw;
}

.menuHamburguesa {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

h1 {
  font-family: briemHand;
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

h2 {
  font-size: xx-large;
}

main {
  width: 95%;
  align-items: center;
  justify-items: stretch;
  margin: 5vh auto 20vh auto;
  h2,
  p,
  li {
    font-family: ubuntuSansItalicV;
  }

  p,
  li {
    line-height: 1.5rem;
    margin-bottom: 20px;
    font-size: 1rem;
  }
}

.navbar {
  background-image: linear-gradient(
    to top,
    $colorNavBar,
    rgb(52, 173, 52)
  ) !important;
  border: none !important;
  border-width: 0 !important;
}

.navbar-logo {
  @include dimensionesImagen(80px, 80px);
}


.whatsapp-button {
  position: fixed;
  bottom: 13vh;
  left: 3vw;
  z-index: 1;
}

.whatsapp-button img {
  @include dimensionesImagen(10vh, 10vh);
  border-radius: 50%;
}

/* SECCION PAGINA INDEX */

.imagen1Index,
.imagen2Index {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;
}


.imagen3Index,
.imagen4Index,
.imagen5Index,
.imagen6Index {
  width: 100%;
  aspect-ratio: 1/0.2;
}

/* SECCION PAGINA SOBRE NOSOTROS */

.videoYoutubeSN {
  width: 100%;
  aspect-ratio: 1/1;
}

.imagen1SN {
  width: 100%;
  aspect-ratio: 1/1;
}

.imagen2SN {
  width: 100%;
  aspect-ratio: 1/1;
}

/* SECCION PAGINA PRODUCTOS */

.imgProd {
  aspect-ratio: 1/0.7;
}

.imagen {
  width: 100%;
  align-self: flex-start;
}

.texto {
  align-self: flex-start;
}

/* SECCION PAGINA CONTACTOS */

.mapaGoogleContacto {
  height: 100%;
}

.formAvicolaContacto {
  height: 100%;
  width: 100%;
}

.datosContacto {
  height: 100%;
}

/* SECCION PAGINA RECURSOS */

.mainRecursos {
  a {
    color: rgb(129, 32, 32);
  }
  ul {
    li {
      a {
        color: rgb(129, 32, 32);
      }
    }
  }
}

// SECCION DE LAS MEDIA QUERIES

@media (min-width: 768px) {
  .datosContacto ul li,
  .datosContacto p {
    font-size: large;
    line-height: 1rem;
  }

  body header nav div {
    a:hover {
      color: white !important;
      transform: scale(1.05, 1.05);
    }
    a img:hover {
      transform: scale(1.15, 1.15);
    }
  }

  .nav-item :hover {
    color: white;
    transform: scale(1.2, 1.2);
  }
}

@media (max-width: 768px) {
  
  .mapaGoogleContacto {
    aspect-ratio: 1/1.75;
  }
}

@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }
}
