main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30vh 30px 3fr 3fr 30px 3fr 3fr 3fr 2r 20vh;
  grid-template-areas:
    "tituloh1 tituloh1"
    "tituloHuevos tituloHuevos"
    "huevosMarrones textoHuevos"
    "huevosBlancos textoHuevos"
    "tituloBalanceados tituloBalanceados"
    "imagenGallinas textoGallinas"
    "imagenPollos textoPollos"
    "imagenCerdos textoCerdos"
    "imagenRumiantes textoRumiantes"
    "footer footer";

  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-items: stretch;

  margin-left: auto;
  margin-right: auto;
}

@media (max-width:768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 20% 20% 40% 10% 20% 40% 20% 40% 20% 40% 20% 40% 10%;
    grid-template-areas:
    "tituloh1"
    "tituloHuevos"
    "huevosMarrones"
    "huevosBlancos"
    "textoHuevos"
    "tituloBalanceados"
    "imagenGallinas"
    "textoGallinas"
    "imagenPollos"
    "textoPollos"
    "imagenCerdos" 
    "textoCerdos"
    "imagenRumiantes" 
    "textoRumiantes"
    "footer";
    
  }
}

.imagen {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  align-self: flex-start;
}

.texto {
  align-self: flex-start;
}

.tituloh1 {
  grid-area: tituloh1;
}

.tituloHuevos {
  grid-area: tituloHuevos;
}

.huevosMarrones {
  grid-area: huevosMarrones;
}

.huevosBlancos {
  grid-area: huevosBlancos;
}

.textoHuevos {
  grid-area: textoHuevos;
}

.tituloBalanceados {
  grid-area: tituloBalanceados;
}

.imagenGallinas {
  grid-area: imagenGallinas;
}
.imagenPollos {
  grid-area: imagenPollos;
}
.imagenCerdos {
  grid-area: imagenCerdos;
}
.imagenRumiantes {
  grid-area: imagenRumiantes;
}

footer {
  grid-area: footer;
}
